html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.top-banner {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width p {
    text-align: justify;
    color: #333;
    font-size: 20px;
    margin-right: 5%;
}

.half-width img {
    width: 100%;
}

section {
    height: 500px;
}

.name-color {
    color: orange;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    color: #616161;
}

h4 {
    color: orange;
    font-size: 20px;
}

.link-button {
    background: linear-gradient(45deg, orange, tomato);
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
}

.big-dream {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 150px;
}

.experience-area div {
    box-shadow: 10px 10px 50px grey;
    height: 75%;
}

.experience-area {
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
    margin-top: 100px;
}

#full-stack {
    text-align: justify;
    border-radius: 10px;
    border-left: 10px solid tomato;
}

#baby-web-dev {
    border-radius: 10px;
    text-align: justify;
    border-left: 10px solid blue;

}

footer {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}