html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.top-banner {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    float: left;
    width: 40%;
    padding-left: 100px;
}

.half-width p {
    text-align: justify;
    color: #333;
    font-size: 20px;
}

.half-width img {
    width: 100%;
}

section {
    height: 500px;
}

.name-color {
    color: orange;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    color: #616161;
}

.link-button {
    background: linear-gradient(45deg, orange, tomato);
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
}

.big-dream {
    margin-top: 150px;
}